:root {
  --hero-background-color: #f9f7fe;
  --heading-font-family: "Josefin Sans", sans-serif;
  --button-branding-color: #6c63ff;
  --button-branding-font: "Reenie Beanie", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

.intro {
  font-size: 40px;
}

.name {
  font-size: 96px;
}

.desc {
  font-size: 30px;
  padding-bottom: 40px;
}

.feature-title {
  font-size: 24px;
}

.project-title {
  font-size: 60px;
}

.hero {
  height: 500px;
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 100px;
}

.work-hero {
  height: 250px;
  background-color: var(--hero-background-color);
  padding-top: 100px;
  max-width: 80%;
}

.btn-contact {
  background-color: var(--button-branding-color);
  font-family: var(--button-branding-font);
  border-radius: 4px;
  padding: 16px 40px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.btn-contact:hover {
  color: black;
}

.btn-branding {
  border-style: solid;
  border-color: var(--button-branding-color);
  font-family: var(--button-branding-font);
  color: var(--button-branding-color);
  border-radius: 4px;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
}

.btn-branding:hover {
  color: black;
}

.project-section {
  padding-bottom: 80px;
}

.about-section,
.work-section,
.contact-section {
  margin: 30px;
  padding-top: 50px;
  padding-right: 50px;
}

.about-section h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-paragraph {
  padding-bottom: 50px;
}

.weather-title {
  margin-top: 50px;
}

@media (max-width: 560px) {
  .container {
    padding-bottom: 20px;
  }
  .project-description {
    padding-bottom: 20px;
    text-align: center;
  }
  .project-title {
    font-size: 40px;
  }
  .name {
    font-size: 60px;
  }
  .hero {
    padding-top: 50px;
    height: 450px;
  }
  .btn-branding {
    font-size: 24px;
  }
  .about-section,
  h1.intro,
  h2.desc {
    text-align: center;
    padding: 0;
  }
  .about-section img {
    padding-top: 30px;
  }
  .work-section,
  .weather-title,
  .contact-section {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .work-hero {
    max-width: 100%;
    padding-top: 20px;
    height: 200px;
  }
}
